<div class="container">
  <ngx-day-feed (itemClick)="showMessage($event)" [config]="config" maxHour="20" minHour="5">

    <ngx-availability *ngFor="let item of data; let i = index"
                      [itemConfig]="{
                      startHour: item.startHour,
                      endHour: item.endHour,
                      startMinute: item.startMinute,
                      endMinute: item.endMinute,
                      backgroundColor: item.backgroundColor,
                      opacity: item.opacity,
                      disableHoverAnimation: item.disableHoverAnimation,
                      disableNewAnimation: item.disableNewAnimation
                      }">
      <img [src]="item.imgLink" alt="profile image"/>
    </ngx-availability>

  </ngx-day-feed>
</div>
