.container {
  width: 60%;
  height: 600px;
  border: 1px dotted #00000050;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.button-container {
  text-align: center;
}
img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px white solid;
}
