.container {
  width: 100%;
  height: calc(90vh);
  border: 1px dotted #00000050;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
}

.buttons-container {
  text-align: center;

  button {
    padding: 10px 20px;
    margin: 4px 10px;
    background-color: #37aeeb;
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
}

img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px white solid;
  background-color: black;
}

span {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', serif;
}
