<div class="button-container">
  <button (click)="test()">Click me</button>
</div>
<div class="container" style="overflow-y: auto">
  <ngx-day-feed (itemClick)="showMessage($event)" [config]="config">

    <ngx-calendar-item *ngFor="let item of data; let i = index"
                       [itemConfig]="{
                      startHour: item.startHour,
                      endHour: item.endHour,
                      startMinute: item.startMinute,
                      endMinute: item.endMinute,
                      backgroundColor: item.backgroundColor,
                      opacity: item.opacity,
                      disableHoverAnimation: item.disableHoverAnimation,
                      disableNewAnimation: item.disableNewAnimation
                      }">
      <img [src]="item.imgLink" alt="profile image"/>
    </ngx-calendar-item>

  </ngx-day-feed>
</div>
